body {
    font-family: NanumSquareR;
}

#navs_icon_color1 {
    color: #5cfa86ff;
}

#navs_icon_color {
    color: gray;
}

a {
    text-emphasis: none;
    color: #ffff;
}

.navs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181212;
}

.navs_logo {
    font-size: 150%;
    color: white;
}

.navs_menu {
    margin-top: 5%;
    display: flex;
    list-style: none;
    padding-left: 0;
    color:white
}

.navs_menu li {
    padding: 3px 8px;
}

.navs_menu li:hover {
    background-color: #546e7a;
    border-radius: 4px;
}

.navs_sns {
    list-style: none;
    color: white;
    display: flex;
    padding-right: 1em;
}

.navs_toogleButton {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
}

.fa-globe-asia {
    padding-left: 1em;
}

#navs_icon {
    padding-right: 0.5em;
}

.MainLobby {
    display: inline-block;
    flex-wrap: nowrap;
    width: 100%;
    height: 60rem;
    object-fit: contain;
    border-radius: 12px;
    border: solid 2px var(--dark-grey-blue);
    background-color: #c3c3c3ff;
}

.StudyLobby {
    padding: 1em 1.5em 1em 1.5em;
    display: flex;
}

#StudyLogs {
    margin: 2em 2em 2em 2em;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    line-height: 180px;
    text-align: center;
    justify-content: space-around;
    font-size: 1.5em;
}

.Study1 {
    background-color: #effd9cff;
}

.Study2 {
    background-color: #67f858ff;
}

.Study3 {
    background-color: #13aa03ff;
}

.Study4 {
    background-color: #0d6304ff;
}

.Study5 {
    background-color: #ace6ffff;
}

@media screen and (max-width: 768px) {
    .navs {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navs_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%
    }
    
    .navs_menu li {
        widows: 100%;
        text-align: center;
    }
    
    .navs_sns {
        display: none;
        justify-content: center;
        width: 100%;
        padding-left: 0;
    }

    .navs_toogleButton {
        display: block;
    }

    .navs_menu.active,
    .navs_sns.active {
        display: flex;
    }

    .MainLobby {
        width: 100%;
        height: 25rem;
    }

    #StudyLogs {
        font-size: 0.7em;
        width: 100px;
        height: 100px;
        line-height: 100px;
        flex-wrap: wrap;
    }
}

