body {
    font-family: NanumSquareR;
}

#navs_icon_color1 {
    color: #5cfa86ff;
}

#navs_icon_color {
    color: gray;
}

a {
    text-emphasis: none;
    color: #ffff;
}

.navs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181212;
}

.navs_logo {
    font-size: 150%;
    color: white;
}

#navs_font {
    color: #ffff;
}

.navs_menu {
    margin-top: 5%;
    display: flex;
    list-style: none;
    padding-left: 0;
    color:white
}

.navs_menu li {
    padding: 3px 8px;
}

.navs_menu li:hover {
    background-color: #546e7a;
    border-radius: 4px;
}

.navs_sns {
    list-style: none;
    color: white;
    display: flex;
    padding-right: 1em;
}

.navs_toogleButton {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
}

.fa-globe-asia {
    padding-left: 1em;
}

#navs_icon {
    padding-right: 0.5em;
}

.Message_1 {
    text-align:center;
    margin-top: 1rem;
    font-size: 300%;
    
}

@media screen and (max-width: 768px) {
    .navs {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navs_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%
    }
    
    .navs_menu li {
        widows: 100%;
        text-align: center;
    }
    
    .navs_sns {
        display: none;
        justify-content: center;
        width: 100%;
        padding-left: 0;
    }

    .navs_toogleButton {
        display: block;
    }

    .navs_menu.active,
    .navs_sns.active {
        display: flex;
    }
}

